p{color: rgba(9, 139, 245, 0.795);font-family: 'Poppins', sans-serif;}
h1{font-style: normal;color: rgb(183, 220, 20);}
li.link_uno{background-color: deeppink;}
.link_dos{background-color: rgb(105, 105, 105);}